:root {
  --c-main: #ff0000;
  --c-secondary: rgb(0, 0, 255);
  --c-bg: #fff;

  &::selection {
    background-color: var(--c-secondary);
    color: var(--c-bg);
  }
}

.square-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

@font-face {
  font-family: vercetti;
  src: url(../public/fonts/Vercetti-Regular.woff2);
}